//ICB HEADER MACRO START -- DO NOT ALTER
#include "inx-parameters.h"
#include "inx-component.h"
#include "inx-audio_input_level.h"
//ICB HEADER MACRO END -- DO NOT ALTER
//ICB STATE VAR MACRO START -- DO NOT ALTER
/* My Component state data structure. - Use this in your code! */
typedef struct inx_audio_input_level_state
{
	ehs_sint32 sampling_rate;
	ehs_sint32 bit_rate;
	ehs_sint32 output_period;
} inx_audio_input_level_state_type; //Reference this, maybe store your config parameters in here too.
//ICB STATE VAR MACRO END -- DO NOT ALTER
//ICB POPULATE EHS DATA STRUCTURE MACRO START -- DO NOT ALTER
/* Populate the data structure used by EHS and map the function names to strings identified in CDF */
EHS_FB_FUNCTIONS_START(audio_input_level)
EHS_FB_FUNCTION_ENTRY("start",1,audio_input_level_start)
EHS_FB_FUNCTION_ENTRY("destroy",2,audio_input_level_destroy)
EHS_FB_FUNCTIONS_END
//ICB POPULATE EHS DATA STRUCTURE MACRO END -- DO NOT ALTER
//ICB FRIENDLY LABELS MACRO START -- DO NOT ALTER
/* Friendly labels for the run function data and event function argument enumerations */
#define INX_audio_input_level_ARG_start_value 1
#define INX_audio_input_level_ARG_start_done 1
#define INX_audio_input_level_ARG_start_data_got 2
#define INX_audio_input_level_ARG_start_fail 3
#define INX_audio_input_level_ARG_destroy_destroyed 1
//ICB FRIENDLY LABELS MACRO END -- DO NOT ALTER
//ICB PARAMETER DEFAULTS MACRO START -- DO NOT ALTER
/* Parameters */
/* Create some macros for the default parameters */
#define INX_FB_audio_input_level_sampling_rate 44100
#define INX_FB_audio_input_level_bit_rate 16
#define INX_FB_audio_input_level_output_period 1000
//ICB PARAMETER DEFAULTS MACRO END -- DO NOT ALTER
//ICB IDENTIFY FUNCTION MACRO START -- DO NOT ALTER
/**
 * Identify the function block to EHS.
 * This function provides access to:
 *  - string containing parameter text
 * EHS_FB_IDENTIFY_MEMORY - variable to store the memory requirements for this function block's context
 */
EHS_FB_IDENTIFY_FUNCTION(audio_input_level)
{
/* Uncomment the following if you need to parse the parameters to calculate memory required */
/*
	ehs_sint32 sampling_rate;
	ehs_sint32 bit_rate;
	ehs_sint32 output_period;
	EhsSscanf(EHS_FB_IDENTIFY_PARAMETERS,"%d %d %d",&sampling_rate,&bit_rate,&output_period); */
	EHS_FB_IDENTIFY_MEMORY = sizeof(inx_audio_input_level_state_type);
}
//ICB IDENTIFY FUNCTION MACRO START -- DO NOT ALTER
//ICB INITIALISE FUNCTION MACRO START -- DO NOT ALTER
/**
 * Initialise the function block. Populate the context area for the function block.
 * This function provides access to:
 *  EHS_FB_INIT_CONTEXT - pointer to the context area provided by EHS for this function block
 *  EHS_FB_INIT_PARAMETERS - string containing the parameter text
 */

EHS_FB_INIT_FUNCTION(audio_input_level)
{
	ehs_sint32 sampling_rate;
	ehs_sint32 bit_rate;
	ehs_sint32 output_period;
	ehs_bool bRet = EHS_TRUE; /* assume success */
	//this is the reference to the object data for this instance of the function block
	inx_audio_input_level_state_type* inx_audio_input_level_state = (inx_audio_input_level_state_type*)EHS_FB_INIT_CONTEXT;
	/* read the initialisation parameters */
	EhsSscanf(EHS_FB_INIT_PARAMETERS,"%d %d %d",&sampling_rate,&bit_rate,&output_period);

	/* Add any further intialisation code here */
	return bRet; /* initialisation always succeeds */
}
//ICB INITIALISE FUNCTION MACRO END -- DO NOT ALTER
//ICB DESTROY FUNCTION MACRO START -- DO NOT ALTER
EHS_FB_DESTROY_FUNCTION(audio_input_level)
{
	inx_audio_input_level_state_type *inx_audio_input_level_state = (inx_audio_input_level_state_type*)EHS_FB_DESTROY_CONTEXT;
	//Your code below here
}
//ICB DESTROY FUNCTION MACRO END -- DO NOT ALTER THIS LINE
//ICB FUNCTION start MACRO START -- DO NOT ALTER
/**
 * Definition of audio_input_level_start.
 * [User's info entered in ICB added here]
 * This function can access the object data shared using the following macros:
 *  EHS_FB_RUN_CONTEXT - pointer to the context area for this function block
 *  EHS_FB_RUN_CONTEXT_REF - pointer to the address of the context area for this function block
 */
EHS_FB_RUN_FUNCTION(audio_input_level_start)
{
	inx_audio_input_level_state_type* inx_audio_input_level_state = (inx_audio_input_level_state_type*)EHS_FB_RUN_CONTEXT;

	// Your code here
	if (EHS_FB_OUT_CONNECTED_API2(INX_audio_input_level_ARG_start_value))
		EHS_FB_OUT_I_API2(INX_audio_input_level_ARG_start_value) ;
	EHS_FB_FINISH(INX_audio_input_level_ARG_start_done);
	EHS_FB_FINISH(INX_audio_input_level_ARG_start_data_got);
	EHS_FB_FINISH(INX_audio_input_level_ARG_start_fail);
}//ICB FUNCTION start MACRO END -- DO NOT ALTER THIS LINE
//ICB FUNCTION destroy MACRO START -- DO NOT ALTER
/**
 * Definition of audio_input_level_destroy.
 * [User's info entered in ICB added here]
 * This function can access the object data shared using the following macros:
 *  EHS_FB_RUN_CONTEXT - pointer to the context area for this function block
 *  EHS_FB_RUN_CONTEXT_REF - pointer to the address of the context area for this function block
 */
EHS_FB_RUN_FUNCTION(audio_input_level_destroy)
{
	inx_audio_input_level_state_type* inx_audio_input_level_state = (inx_audio_input_level_state_type*)EHS_FB_RUN_CONTEXT;

	// Your code here
	EHS_FB_FINISH(INX_audio_input_level_ARG_destroy_destroyed);
}//ICB FUNCTION destroy MACRO END -- DO NOT ALTER THIS LINE
